/* ========== GLOBAL ========== */

html {
	font-family: "Courier New", Courier, monospace;
}

body {
	background-color: rgb(49, 49, 49);
}

h1 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0.1em 0;
	padding: 0;
}

/* ========== APP.JS ========== */

.form-container {
	display: flex;
	width: 40%;
	margin: 1em auto;
	padding: 0.5em;
	border-radius: 2em;
	background-color: rgb(216, 141, 29);
}

.form-container > input {
	width: 75%;
	border-radius: 2em 0em 0em 2em;
	padding: 0.5em 1em;
	border: none;
}

.form-container > input:focus,
.form-container > button:focus {
	outline: none;
}

.form-container > button {
	width: 25%;
	border-radius: 0em 2em 2em 0em;
	border: none;
	background-color: rgb(32, 32, 32);
	color: white;
	cursor: pointer;
}

.not-found {
	width: fit-content;
	margin: 0 auto;
	color: rgb(216, 141, 29);
}

/* ========== CARD.JS ========== */

.card-container {
	width: fit-content;
	margin: 0 auto 1.5em;
	padding: 2em;
	border-radius: 2em;
	background-color: rgb(32, 32, 32);
	color: rgb(216, 141, 29);
}

.card-title {
	width: fit-content;
	margin: 0 auto;
}

.card-picture {
	display: block;
	width: 150px;
	margin: 1em auto;
	border-radius: 100%;
}

.card-set {
	display: flex;
	gap: 0.25em;
}
